.book-item {
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    width: 25%;
    box-sizing: border-box;
    position: relative;
}
.book-item img {
    max-width: 10%;
    height: auto;
}

.book-item h3 {
    margin: 0;
}

.book-item .add-to-cart {
    background: #0779e4;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    display: block;
}
.book-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
button{
    padding: 5px 10px;
    background: #0779e4;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
}
button:hover{
    color: #33ccff;
}
#sum{
    border-top: #0779e4 solid;
    font-size: large;
}