h2{
    text-align:center;
}
form{
    border: 5px solid;
    border-radius: 30px;
    margin-top: 5%;
    margin-left: 35%;
    padding-top: 5px;
    padding-bottom: 10px;
    height: 35rem;
    width: 30%;
}
#rejestracja{
    text-align: center;
    margin-top:2.5%;
}
input{
    width: 75%;
    height: 6%;
    margin-left: 10%;
    margin-top:1%;
    border-radius: 30px;
    padding-left: 10px;
    font-size: medium;
}
input[type=submit]{
    margin-left: 10%;
    background: #0779e4;
    border: none;
    color: #fff;
    cursor: pointer;
}
input[type=submit]:hover{
    color: #399cf9;
}
.nazw{
    font-size: xx-large;
}